body{
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #ededed;
}

.app-container{
    margin-top: 52px;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    border-radius: 12px;
    background-color: #efefef;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}