body{
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #ededed;
}

.app-container{
    margin-top: 52px;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    border-radius: 12px;
    background-color: #efefef;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.selection-container{
    width: 100%;

    padding: 16px;
    margin: 12px 0;

    border-radius: 12px;
    border: 1px solid #dcdcdc;

    background-color: white;

    cursor: pointer;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background-color 0.2s ease;
}



.selection-container:hover{
    background-color: #f8f9ff;

    transform: translateY(-3px);

    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

.selection-container.selected{
    background-color: #9bcda9;
}


.nav-buttons{
    display: flex;
    justify-content: space-between;
}

.buttons{
    border-radius: 12px;
    border: 1px solid #dcdcdc;
    padding: 16px
}

.buttons:hover{
     background-color: #f8f9ff;
}

.text-button{
    background: none;
    border: none;

    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;

    cursor: pointer;
}

.results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}